<!DOCTYPE html>
{## https://www.bootcss.com/p/buttons/ 各种button #}
{#https://element.eleme.cn/#/zh-CN/component/installation element官网#}
{#https://blog.csdn.net/apollo_miracle/article/details/83016021 Flask 框架 - 模板#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ruleName }} </title>
    <title>CHC规则</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='dragon.ico') }}"  type="image/x-icon">
<link rel="shortcut icon" href="{{ url_for('static', filename='dragon.ico') }}"  type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chc.css') }}">
<!-- element 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}"></script>
<!--浮动锚点-->
<script src="{{ url_for('static', filename='css/js.js') }}"></script>
<script src="{{ url_for('static', filename='css/chc.js') }}"></script>
<script src="{{ url_for('static', filename='css/gobackAlert.js') }}"></script>

<style>
    .center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Full height of the viewport */
}
    th {
        background-color: #409EFF;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

.large-checkbox {
    width: 50px; /* 复选框的宽度 */
    height: 50px; /* 复选框的高度 */
}

</style>

{#    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}

<script>
function selectAll(checkAllBox) {
  // 获取所有复选框元素
  {#var items = document.getElementsByClassName('items');#}
  var items = document.getElementsByName('items');
  // 根据全选复选框的状态设置其他复选框的状态
  for (var i = 0; i < items.length; i++) {
    items[i].checked = checkAllBox.checked;
  }
}
function submitForm() {
    var formData = $('#checkboxForm').serialize();
    $.ajax({
        type: 'POST',
        url: '/submitId',
        dataType:'json',
        data: formData,
        success: function(response) {
            console.log(response);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

</script>

</head>
<body>

{#<!-- 锚点2 -->#}
{#<div id="loutinav2">#}
{#<ul>#}
{#<li class="active"><span>&nbsp;&nbsp;<a href="{{ url_for('excel',ruleName='健康干预_已患疾病单病') }}" target = "_blank">健康干预_已患疾病单病</a></span> </li>#}
{#<li class="last"><span>&nbsp;&nbsp;回顶部</span></li>#}
{#</ul>#}
{#</div>#}

    <table border="1">

        <tr>
            <th><input type="checkbox" id="selectAll" onclick="selectAll(this)"> 全选<br></th>
            <th>id</th>
            <th>result</th>
            <th>updateDate</th>
            <th>rule</th>
            <th>case</th>
            <th>ruleParam</th>
            <th>ruleCode</th>
            <th>diseaseRuleCode</th>
            <th>diseaseCodeDesc</th>
            <th>assessRuleCode</th>
            <th>tester</th>
        </tr>

<form id="checkboxForm">
{#<form action="{{ url_for('submit')}}" method="post">#}

    {% for item in data %}
        <tr><td><input type="checkbox" class="large-checkbox" name='items' value="{{ item.id }}"></td>
            <td><a href="{{ url_for('about4', ruleName=ruleName, id=item.id)}}">{{ item.id }}</a></td>
            {% if item.result == 'ok' %}
                <td style="background-color: #67C23A;">{{ item.result }}</td>
            {% elif item.result == 'error' %}
             <td style="background-color: #F56C6C;">{{ item.result }}</td>
            {% else %}
                <td>{{ item.result }}</td>
            {% endif %}
            <td>{{ item.updateDate }}</td>
            <td>{{ item.rule }}</td>
            <td>{{ item.case }}</td>
            <td><a href="{{ url_for('about4', ruleName=ruleName, id=item.id)}}">{{ item.ruleParam }}</a></td>
            <td>{{ item.ruleCode }}</td>
            <td>{{ item.diseaseRuleCode }}</td>
            <td>{{ item.diseaseCodeDesc }}</td>
            <td>{{ item.assessRuleCode }}</td>
            <td>{{ item.tester }}</td>
        </tr>
    {% endfor %}

    <input type="hidden" name='ruleName' value="{{ ruleName }}">

    <tr><td colspan="11">
    <div class="center-flex">

<!-- 锚点left -->
<div id="loutinav">
<ul>
<li><span><button type="button" onclick="submitForm()" class="el-button el-button--primary is-plain">提交</button></span></li>
</ul>
</div>

<!-- 锚点right -->
<div id="loutinav2">
<ul>
<li class="last"><span><button type="button" class="el-button el-button--primary is-plain">回顶部</button></span></li>
</ul>
</div>


<button type="button" onclick="submitForm()" class="el-button el-button--primary is-plain">提交</button>

    </div>
    </td></tr>

</form>

    </table>



</body>
</html>