<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ruleName }} </title>
    <title>CHC规则</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='dragon.ico') }}"  type="image/x-icon">

<style>
    {font-size: 11pt; font-family: Arial;
        border-collapse: collapse;
        border: 1px silver;}
    td, th
    {    padding: 5px;}
    tr:nth-child(even)
    {    background: #E0E0E0;}
    tr:hover
    {    background: silver;    cursor: pointer;}

</style>

</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>result</th>
            <th>updateDate</th>
            <th>rule</th>
            <th>ruleParam</th>
            <th>ruleCode</th>
            <th>diseaseRuleCode</th>
            <th>tester</th>

        </tr>

        {% for item in data %}
        <tr>
            <td><a href="{{ url_for('about3', ruleName=item.ruleName, result=item.result, step=item.step, id=item.id,rule=item.rule, ruleParam=item.ruleParam)}}">{{ item.id }}</a></td>
            <td>{{ item.result }}</td>
            <td>{{ item.updateDate }}</td>
            <td>{{ item.rule }}</td>
            <td><a href="{{ url_for('about3', ruleName=item.ruleName, result=item.result, step=item.step, id=item.id,rule=item.rule, ruleParam=item.ruleParam)}}">{{ item.ruleParam }}</a></td>
            <td>{{ item.ruleCode }}</td>
            <td>{{ item.diseaseRuleCode }}</td>
            <td>{{ item.tester }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>