<!DOCTYPE html>
{## https://www.bootcss.com/p/buttons/ 各种button #}
{#https://element.eleme.cn/#/zh-CN/component/installation element官网#}
{#https://blog.csdn.net/apollo_miracle/article/details/83016021 Flask 框架 - 模板#}
{#            style="width:50px;overflow:hidden;text-align: left;vertical-align:top#}
{#https://tools.wujingquan.com/htmltable/#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ruleName }} </title>
{%  if get_current_ip == '127.0.0.1:5000' %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='dragon.ico') }}"  type="image/x-icon">
    {% else %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='pig.ico') }}"  type="image/x-icon">
    {%  endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/excel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

<!-- element 引入样式 -->
{#<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">#}
{#<script src="https://unpkg.com/element-ui/lib/index.js"></script>#}

<script src="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}"></script>
<!--浮动锚点-->
<script src="{{ url_for('static', filename='css/js.js') }}"></script>
<script src="{{ url_for('static', filename='css/chc.js') }}"></script>
<script src="{{ url_for('static', filename='css/gobackAlert.js') }}"></script>

<!--31525-->
<link rel="stylesheet" href="{{ url_for('static', filename='31525/dist/jBox.all.css') }}">
{#<link rel="stylesheet" href="{{ url_for('static', filename='31525/css/Demo.css') }}">#}
<link rel="stylesheet" href="{{ url_for('static', filename='31525/Playground/Playground.Avatars.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='31525/Playground/Playground.Login.css') }}">
<script src="{{ url_for('static', filename='31525/js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='31525/dist/jBox.all.js') }}"></script>
<script src="{{ url_for('static', filename='31525/Playground/Playground.Avatars.js') }}"></script>
<script src="{{ url_for('static', filename='31525/Playground/Playground.Login.js') }}"></script>


<style>
    .center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Full height of the viewport */
}
    th {
        background-color: #409EFF;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    table {
        border-collapse: collapse;
        width: 95%;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

.large-checkbox {
  width: 20px; /* 复选框的宽度 */
  height: 20px; /* 复选框的高度 */
}


</style>

{#    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}

<script>
function selectAll(checkAllBox) {
  // 获取所有复选框元素
  {#var items = document.getElementsByClassName('items');#}
  var items = document.getElementsByName('items');
  // 根据全选复选框的状态设置其他复选框的状态
  for (var i = 0; i < items.length; i++) {
    items[i].checked = checkAllBox.checked;
  }
}
function submitForm() {
    var formData = $('#checkboxForm').serialize();
    $.ajax({
        type: 'POST',
        url: '/submitStep',
        {#dataType:'json',#}
        data: formData,
        success: function(response) {
            window.location.href = "/list123/" + response;
            {#window.location.href = "/list123/评估因素取值";#}
        },
        error: function(xhr, status, error) {
            console.error(error);
            console.log(response);
        }
    });
}


</script>

<!-- Row Highlight Javascript -->
<script type="text/javascript">
    window.onload=function(){
    var tfrow = document.getElementById('tfhover').rows.length;
    var tbRow=[];
    for (var i=1;i<tfrow;i++) {
        tbRow[i]=document.getElementById('tfhover').rows[i];
        tbRow[i].onmouseover = function(){
          this.style.backgroundColor = '#ffffff';
        };
        tbRow[i].onmouseout = function() {
          this.style.backgroundColor = '#d4e3e5';
        };
    }
};

    $(document).ready(function() {
    new jBox('Modal', {
  attach: '#Modal-1',
  height: 600,
  title: '{{ruleName}}',
  content: '<div style="line-height: 30px;">' +
      '{{ l_ruleSql | tojson }}<br></div>'
    });
  })
</script>

<style type="text/css">
table.tftable {font-size:14px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
table.tftable th {font-size:14px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
table.tftable tr {background-color:#d4e3e5;}
table.tftable td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
</style>

</head>
<body>

{#<!-- 锚点2 -->#}
{#<div id="loutinav2">#}
{#<ul>#}
{#<li class="active"><span>&nbsp;&nbsp;<a href="{{ url_for('excel',ruleName='健康干预_已患疾病单病') }}" target = "_blank">健康干预_已患疾病单病</a></span> </li>#}
{#<li class="last"><span>&nbsp;&nbsp;回顶部</span></li>#}
{#</ul>#}
{#</div>#}

<table id="tfhover" class="tftable" border="1">
    <tr><th nowrap="nowrap"><input type="checkbox" id="selectAll" onclick="selectAll(this)"> 全选<br></th>
    <th nowrap="nowrap">id</th>
    <th nowrap="nowrap">result</th>
    <th nowrap="nowrap">updateDate</th>
    <th nowrap="nowrap" id="Modal-1" class="target-click"><a href="#">rule</a></th>
    <th nowrap="nowrap">case</th>
    <th nowrap="nowrap">ruleParam</th>
    <th nowrap="nowrap">分类</th>
    <th nowrap="nowrap">评估因素名称</th>
    <th nowrap="nowrap"><a href ="https://docs.qq.com/sheet/DYmtPV0dUa1NSdHNt?tab=h940rl" target="_blank">取值规则</a></th>
    <th nowrap="nowrap">tester</th>
    </tr>

<form id="checkboxForm">
{#<form action="{{ url_for('submit')}}" method="post">#}

    {% for item in data %}
        <tr>
            <td style="width:50px;overflow:hidden"><input type="checkbox" class="large-checkbox" name='items' value="{{ item.id }}"></td>
            <td style="width:50px;overflow:hidden"><a href="{{ url_for('edit123', ruleName=ruleName, id=item.id)}}" target="_blank">{{ item.id }}</a></td>
            {% if item.result == 'ok' %}
                <td style="background-color: #67C23A;width:50px;overflow:hidden">{{ item.result }}</td>
            {% elif item.result == 'error' %}
             <td style="background-color: #F56C6C;width:50px;overflow:hidden">{{ item.result }}</td>
            {% else %}
                <td>{{ item.result }}</td>
            {% endif %}
            <td style="width:100px;overflow:hidden">{{ item.updateDate }}</td>

            <td style="width:50px;overflow:hidden;">{{ item.rule|safe|lower }}</td>
            <td style="width:100px;overflow:hidden;">{{ item.case|safe|lower }}</td>
            <td style="width:100px;overflow:hidden;">{{ item.ruleParam|safe|lower }}</td>
            <td style="width:100px;overflow:hidden">{{ item.分类 }}</td>
            <td style="overflow:hidden">{{ item.评估因素名称 }}</td>
            <td style="overflow:hidden">{{ item.取值规则 }}</td>
            <td style="width:100px;overflow:hidden">{{ item.tester }}</td>
        </tr>
    {% endfor %}

    <input type="hidden" name='ruleName' value="{{ ruleName }}">

    <!-- 锚点left -->
    <div id="loutinav">
    <ul>
    <li><span><button type="button" onclick="submitForm()" class="button button-glow button-border button-rounded button-primary">提交</button></span></li>
    </ul>
    </div>
    <!-- 锚点right -->
    <div id="loutinav2">
    <ul>
    <li class="last"><span><button type="button" class="button button-glow button-border button-rounded button-primary">回顶部</button></span></li>
    </ul>
    </div>

    <tr><td colspan="11">
    <div class="center-flex">
    <button type="button" onclick="submitForm()" class="button button-glow button-rounded button-raised button-primary">提交</button>
    </div>
    </td></tr>

</form>
</table>


</body>
</html>