<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHC - 社区健康自动化规则测试</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename=global_d_['icon']) }}" type="image/x-icon">



<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='1/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='1/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='1/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chc.css') }}">

<!-- button -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<script src="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}"></script>
<!--浮动锚点-->
<script src="{{ url_for('static', filename='css/chc.js') }}"></script>
<script src="{{ url_for('static', filename='css/gobackAlert.js') }}"></script>
<script src="{{ url_for('static', filename='css/mask.js') }}"></script>



</head>

<body data-spy="scroll" data-target="#fixedNavbar">

<!-- 遮罩层 -->
<div id="mask" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div class="containerFlex">
    <svg width="100" height="100" viewBox="0 0 40 60">
    <polygon class="triangle" fill="none" stroke="#fff" stroke-width="1" points="16,1 32,32 1,32"/>
    <text class="loading" x="0" y="45" fill="#fff" >processing...</text>
    </svg>
    </div>
</div>

    <!--// Header Start //-->
    <header class="header fixed-top white-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg p-0">
                <a class="navbar-brand" href="">
{#                    <img src="{{ url_for('static', filename='1/picture/logo-black.png') }}" alt="Logo White" class="img-fluid logo-transparent">#}
                    <img src="{{ url_for('static', filename='1/picture/logo-black.png') }}" alt="Logo Normal" class="img-fluid logo-normal">
                </a>
                <!--// .logo //-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fixedNavbar" aria-controls="fixedNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="togler-icon-inner">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                    </span>
                </button>
                <button href="#" class="login-btn-toggle login-btn-mobile"><i class=" fa fa-sign-in-alt"></i></button>
                <button href="#" class="signup-btn-toggle signup-btn-mobile"><i class="fas fa-user-plus"></i></button>
                <!--// Mobile Toggle Btn //-->
                <div class="collapse navbar-collapse main-menu justify-content-end" id="fixedNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link menu-link active" href="#" data-scroll-nav="1">欢迎光临</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#" data-scroll-nav="2">查询规则集</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#" data-scroll-nav="3">更新规则集</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#" data-scroll-nav="4">测试</a>
                        </li>

                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">规则名列表</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                {% for i in global_d_['ruleName'] %}
                                    <a class="dropdown-item" href="{{ url_for('list123',ruleName=i) }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;{{ i }}</a>

{#                                <a class="dropdown-item" href="{{ url_for('list123',ruleName='健康干预_已患疾病单病') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;健康干预_已患疾病单病</a>#}
{#                                <a class="dropdown-item" href="{{ url_for('list123',ruleName='健康干预_已患疾病组合') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;健康干预_已患疾病组合</a>#}
{#                                <a class="dropdown-item" href="{{ url_for('list123',ruleName='评估因素取值') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;评估因素取值</a>#}
                                {% endfor %}
                            </div>
                        </li>

                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">辅助工具</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" href="{{ url_for('searchRecord') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;{{ global_d_['menu']['searchRecord'] }}</a>
                                <a class="dropdown-item" href="{{ url_for('queryDesc2') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;{{ global_d_['menu']['queryDesc2'] }}</a>
                                <a class="dropdown-item" href="{{ url_for('importCase') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;{{ global_d_['menu']['importCase'] }}</a>
                                <a class="dropdown-item" href="{{ url_for('registerTbl') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;{{ global_d_['menu']['registerTbl'] }}</a>
{#                                <a class="dropdown-item" href="{{ url_for('testSelect') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;testSelect</a>#}
{#                                <a class="dropdown-item" href="{{ url_for('testSort') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;testSort</a>#}
{#                                <a class="dropdown-item" href="{{ url_for('list123',ruleName='评估因素取值') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;testSort2</a>#}
                                <a class="dropdown-item" href="{{ url_for('pin') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;更新flask服务</a>
                                <a class="dropdown-item" href="{{ url_for('seeLog') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;查看日志</a>
                                <a class="dropdown-item" href="{{ url_for('searchLog') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;查看日志2</a>
                                <a class="dropdown-item" href="{{ url_for('index7') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;index7</a>

{#                                <a class="dropdown-item" href="{{ url_for('yanzm') }}" target = "_blank"><i class="el-icon-arrow-right"></i>&nbsp;验证码</a>#}
                            </div>
                        </li>

                        <li class="nav-item">
                        <a onclick="goHome()"  class="nav-link menu-link" href="#" ><i class="el-icon-s-home"></i>&nbsp;首页</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// .navbar-nav //-->
        </div>
        <!--// .container //-->
    </header>
    <!--// Header End  //-->

    <main class="main-area">

        <!--// Hero Section Start //-->
        <section class="section hero" data-scroll-index="1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="hero-section-inner text-center">
                            <h1>CHC</h1>
                            <h2>社区健康规则自动化测试</h2>
                            <p>CHC a page, Automated testing of community health rules</p>
                            <div class="button-center">
                            </div>
                        </div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->
            </div>
            <!--// .container //-->
        </section>
        <!--// Hero Section End //-->

        <!--// About Section Start //-->
        <section class="section" data-scroll-index="2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-heading">
                            <h2 class="section-title"><i class="el-icon-search"></i> 查询规则集</h2>
                        </div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="a5 md:a2u af"><div class="a3u">
                        <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                        <select  id="queryRuleName" name="queryRuleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                         <option value="none" selected>请选择...</option>
                        {% for i in global_d_['ruleName'][0:] %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                        </select>
                        </div></div>
                        </div>

                    <div class="col-md-6">
                        <div class="a6 a1K ac">
                        <div class="a5 md:a2u af">
                        <div class="a3u">
                        <label for class="al a25 aR a1j dark:a1k a2j">规则集</label>
                            <select id="queryRuleCollection" name="queryRuleCollection" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                <option value="none" selected>请选择...</option>
                            </select>
                        </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box3">
                        <div id="get_queryRuleCollection"></div>
                        </div>
                    </div>
                    <!--// .col //-->

                    <!--// .col //-->
                </div>
                <!--// .row //-->
            </div>
            <!--// .container //-->
        </section>
        <!--// About Section End //-->

        <!--// Services Section Start //-->

        <section class="section bg-light-grey" data-scroll-index="3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-heading">
                            <h2 class="section-title"><i class="el-icon-edit"></i> 更新规则集</h2>
                        </div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->

                <form action="{{ url_for('updateRuleCollection')}}" method="post">

                <div class="row">
                    <div class="col-md-6">

                        <div class="a5 md:a2u af"><div class="a3u">
                            <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                            <select name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                             <option value="none" selected>请选择...</option>
                            {% for i in global_d_['ruleName'][0:] %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                            </select>
                        </div></div>


                    </div>
                    <div class="col-md-6">
                        <div class="a5 md:a2u af">
                        <div class="a3u">
                        <label for class="al a25 aR a1j dark:a1k a2j">规则集*</label>
                        <input type="text"  name="ruleCollection" maxlength="10" placeholder="请输入..." id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                        </div>
                        </div>
                    </div>
                    <!--// .col //-->
                    <div class="col-md-12">
                        <div class="a5 md:a2u af">
                        <div class="a3u">
                        <label for class="al a25 aR a1j dark:a1k a2j">步骤*</label>
                        <textarea name="sql" rows="5" id="cacu_value" placeholder="请输入..."  class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F"></textarea>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="a5 af"><div class="a2g">
                            <div class='submitButton'>
                                <button class="el-button el-button--primary">提交</button>
                            </div>
                        </div></div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->
                 </form>



            </div>
            <!--// .container //-->
        </section>




{% if output_testRule3 %}
    <pre>{{ output_testRule3 }}</pre>
{% elif error %}
    <h2>Error:</h2>
    <pre>{{ error }}</pre>
{% endif %}
<br>
        <!--// Services Section End //-->


        <!--// Portfolio Section Start //-->
        <form action="{{ url_for('testRule')}}" method="post" id="mask3">

        <section class="section" data-scroll-index="4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-heading">
                            <h2 class="section-title">测试</h2>
                        </div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->
                <div class="row">
                    <div class="col-md-6">

                        <div class="a5 md:a2u af"><div class="a3u">
                            <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                            <select name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                             <option value="none" selected>请选择...</option>
                            {% for i in global_d_['ruleName'][0:] %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                            </select>
                        </div></div>


                    </div>
                    <!--// .col //-->
                    <div class="col-md-6">
                        <div class="a5 md:a2u af"><div class="a3u">
                        <label for class="al a25 aR a1j dark:a1k a2j">id*</label>
                        <input type="text" name="id" maxlength="10" id="cacu_value" placeholder="请输入..." class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                        </div></div>
                    </div>
                    <!--// .col //-->

                 <div class="col-md-12">
                    {% if output_testRule %}
                    <pre>{{ output_testRule }}</pre>
                    {% elif error %}
                    <h2>Error:</h2>
                    <pre>{{ error }}</pre>
                    {% endif %}
                    <br>

                    <div class="a5 af"><div class="a2g">
                    <button class="el-button el-button--primary">提交</button>
                    <br><br>
                    </div></div>


                <!-- loading... -->
                <div id="loading" style="display:none;"></div>

                </div>

                </div>
                <!--// .row //-->
            </div>
            <!--// .container //-->
        </section>
        </form>
        <!--// Portfolio Section End //-->



        <!--// Features Section End //-->
        <section class="features section pb-minus-70" data-scroll-index="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-heading">
                            <h2 class="section-title"><i class="el-icon-document-copy"></i> 规则名列表</h2>
                        </div>
                    </div>
                    <!--// .col //-->
                </div>
                <!--// .row //-->
                <div class="row">
                    {% for i in global_d_['ruleName'] %}
                        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6">
                            <a href="{{ url_for('list123',ruleName=i) }}" target = "_blank">
                            <div class="features-box">
                            <div class="features-body">
                            <h7 class="features-title">{{ i }}</h7>
                            </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!--// .row //-->
            </div>
            <!--// .container //-->
        </section>
        <!--// Features Section End //-->

        <!--// Footer Start //-->
        <footer class="footer">
            <div class="copyright-wrap">
                <div class="container">
                    <div class="copyright-inner">
                    </div>
                </div>
                <!--// .container //-->
            </div>
        </footer>
        <!--// Footer End //-->

    </main>

    <!-- Javascript Plugins -->
    <script src="{{ url_for('static', filename='1/js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='1/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='1/js/main.js') }}"></script>





</body>

</html>