<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CHC - 社区健康自动化规则测试</title>
<link rel="shortcut icon" href="{{ url_for('static', filename=global_d_['icon']) }}" type="image/x-icon">

<!-- main -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chc.css') }}">

<!--13788 upload file-->
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/jquery.filer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/jquery.filer-dragdropbox-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/tomorrow.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='13788/css/custom.css') }}">

<!-- 42904 超链接蓝色 -->
<link rel="stylesheet" href="{{ url_for('static', filename='42904/style123.css') }}">

<script src="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}"></script>

<!-- mask -->
<script src="{{ url_for('static', filename='css/mask.js') }}"></script>
<script src="{{ url_for('static', filename='css/mask34.js') }}"></script>
<script src="{{ url_for('static', filename='css/mask56.js') }}"></script>
<!-- mask -->
<script src="{{ url_for('static', filename='css/chc.js') }}"></script>

<!--31525 鼠标移动popup -->
<link rel="stylesheet" href="{{ url_for('static', filename='31525/dist/jBox.all.css') }}">
<script src="{{ url_for('static', filename='31525/js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='31525/dist/jBox.all.js') }}"></script>

<!-- 操作成功或失败提示 -->
<link rel="stylesheet" href="{{ url_for('static', filename='42622/hsycmsAlert.min.css') }}">
<script src="{{ url_for('static', filename='42622/hsycmsAlert.min.js') }}"></script>
<script src="{{ url_for('static', filename='42622/jquery-1.10.2.js') }}"></script>


<style>
    textOk{white-space: pre-wrap;font-size:15px;color: #0167ff;text-align: left;line-height: 2rem;}
    textErr{white-space: pre-wrap;font-size:15px;color: #ec0b0b;text-align: left;line-height: 1.5rem;}
    /* 表格 */
{#table {border-collapse: collapse;width: 95%;}#}
{#th {position: sticky;z-index: 10;top: 0;}#}
th, td {border: 1px solid black;padding: 10px;text-align: center;}
table.tftable {font-size:14px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
table.tftable th {font-size:14px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
table.tftable tr {background-color:#d4e3e5;}
table.tftable td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
</style>


</head>

<body data-spy="scroll" data-target="#fixedNavbar">



<article class="htmleaf-container">
	<section id="section4" class="section-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <img src="{{ url_for('static', filename='benetch.gif') }}" alt="benetch">

					<h2>CHC 社区健康自动化平台</h2>
				<br>
					<div>
						<ul class="nav nav-tabs" role="tablist">
                            {%  if tabName == '测试项' %}
							    <li role="presentation" class="active"><a href="#RL" role="tab" data-toggle="tab">测试项</a></li>
                            {%  else %}
							    <li role="presentation"><a href="#RL" role="tab" data-toggle="tab">测试项</a></li>
                            {%  endif  %}
                            {%  if tabName == '数据源' %}
							    <li role="presentation" class="active"><a href="#DW" role="tab" data-toggle="tab">数据源</a></li>
                            {%  else %}
							    <li role="presentation"><a href="#DW" role="tab" data-toggle="tab">数据源</a></li>
                            {%  endif  %}
{#                            {%  if tabName == '调试' %}#}
{#							    <li role="presentation" class="active"><a href="#DB" role="tab" data-toggle="tab">调试</a></li>#}
{#                            {%  else %}#}
{#							    <li role="presentation"><a href="#DB" role="tab" data-toggle="tab">调试</a></li>#}
{#                            {%  endif  %}#}

                            {%  if tabName == '辅助工具' %}
							    <li role="presentation" class="active"><a href="#AT" role="tab" data-toggle="tab">辅助工具</a></li>
                            {%  else %}
							    <li role="presentation"><a href="#AT" role="tab" data-toggle="tab">辅助工具</a></li>
                            {%  endif  %}
                            {%  if tabName == '系统配置' %}
							    <li role="presentation" class="active"><a href="#SC" role="tab" data-toggle="tab">系统配置</a></li>
                            {%  else %}
							    <li role="presentation"><a href="#SC" role="tab" data-toggle="tab">系统配置</a></li>
                            {%  endif  %}
						</ul>

						<div class="tab-content">

        <!-- 测试项 -->

                            {%  if tabName == '测试项' %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="RL">
                            {%  else %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="RL">
                            {%  endif  %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section__box" >
                                        {% for i in global_d_['ruleName'] %}
                                            <a class="r-link ai-element-black ai-element_padding-all ai-element1" href="{{ url_for('list123',ruleName=i) }}" target = "_blank"><span class="ai-element__label">{{ i }}</span></a>
                                        {% endfor %}

                                    </div>
                                    <br>
                                    <div class="section__box">
                                            <a class="r-link ai-element-blue ai-element_padding-all ai-element4" href="#DB_testRule" role="tab" data-toggle="tab"><span class="ai-element__label">测试规则</span></a>
                                    </div>
                                </div>
							</div>

    <!-- 测试规则 -->
                                            {%  if subName == '测试规则' %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DB_testRule">
                                            {%  else %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DB_testRule">
                                            {%  endif  %}
                                            <form action="{{ url_for('testRule')}}" method="post" id="mask41">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="a5 md:a2u af"><div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                                                            <select name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                             <option value="none" selected>请选择...</option>
                                                            {% for i in global_d_['ruleName'][0:] %}
                                                            <option value="{{i}}">{{i}}</option>
                                                            {% endfor %}
                                                            </select>
                                                        </div></div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="a5 md:a2u af"><div class="a3u">
                                                        <label for class="al a25 aR a1j dark:a1k a2j">id*</label>
                                                        <input type="text" name="id" maxlength="10" id="cacu_value" placeholder="请输入..." class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                        </div></div>
                                                    </div>
                                                    <!--// .col //-->

                                                     <div class="col-md-12">
                                                        {% if output_testRule %}
                                                        <pre>{{ output_testRule }}</pre>
                                                        {% elif error %}
                                                        <h2>Error:</h2>
                                                        <pre>{{ error }}</pre>
                                                        {% endif %}
                                                        <br>

                                                        <div class="a5 af"><div class="a2g">
                                                            <input type="submit" class="btn-custom black" value="执行">
                                                            <br><br>
                                                        </div></div>
                                                     </div>
                                                </div>
                                            </form>


                                            {% if testRule2 == 1 %}
                                                {% if d_field %}
                                                    {% if d_field['result']  == 'ok' %}
                                                        <label for class="al a25 aR a1j dark:a1k a2j">结果:</label>
                                                        <textOk>{{ d_field['result'] }}</textOk> <br><br>

                                                        <label for class="al a25 aR a1j dark:a1k a2j">步骤:</label>
                                                        <textOk>{{d_field['step']}}</textOk> <br>
                                                        <textOk>{{d_field['eachStep']}}</textOk> <br>
                                                    {% else %}
                                                        <label for class="al a25 aR a1j dark:a1k a2j">结果:</label>
                                                        <textErr>{{ d_field['result'] }}</textErr> <br><br>

                                                        <label for class="al a25 aR a1j dark:a1k a2j">步骤:</label>
                                                        <textErr>{{d_field['step']}}</textErr> <br>
                                                        <textErr>{{d_field['eachStep']}}</textErr> <br>
                                                    {%  endif %}

                                                    <div class="louti"></div>


                                                    <label for class="al a25 aR a1j dark:a1k a2j">相关表结构信息:</label>
                                                    {% for k,v in global_d_['tblByStep'].items() %}
                                                    <div id="{{ k }}" >{{ k }}</div><br>
                                                    {#                <td style="width:100px;overflow:hidden" id="{{ k }}" class="target-click">{{ k }}</td>#}
                                                    <script>
                                                    $(document).ready(function() {
                                                    new jBox('Modal', {
                                                    attach: '#{{ k }}',
                                                    height: 600,
                                                    title: '{{k}}',
                                                    content: '<div style="line-height: 30px;">' +
                                                    '{{v | tojson}}<br></div>'
                                                    });
                                                    })
                                                    </script>
                                                    {% endfor %}
                                                    <br>

        <!-- 编辑 -->

                                                    <form action="{{ url_for('step')}}" method="post" id="mask42">
                                                    <div class="a6 a1K ac">
                                                    <div class="a5 md:a2u/2 af">
                                                    <div class="a3u">
                                                    <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                                                    <input id='queryRuleName2' type="text" readonly name="ruleName" value="{{ d_field['ruleName'] }}" id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                    </div>
                                                    </div>

                                                    <div class="a5 md:a2u/2 af">
                                                    <div class="a3u">
                                                    <label for class="al a25 aR a1j dark:a1k a2j">id</label>
                                                    <input type="text" readonly name="id" value="{{ d_field['id'] }}" id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                    </div>
                                                    </div>

                                                    <div class="a5 md:a2u/2 af">
                                                    <div class="a3u">
                                                    <label for class="al a25 aR a1j dark:a1k a2j">规则集</label>
                                                    {#<input type="text" name="rule" value="{{ d_field['rule'] }}" id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">#}
                                                    <select id="queryRuleCollection2" name="rule" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                    <option value="{{ s_rule }}" selected>{{ s_rule }}</option>
                                                    {% for s in global_d_['rule'][0:] %}
                                                    <option value="{{s}}">{{s}}</option>
                                                    {% endfor %}
                                                    </select>
                                                    </div>
                                                    </div>

                                                    <div class="a5 md:a2u/2 af">
                                                    <div class="a3u">
                                                    <label for class="al a25 aR a1j dark:a1k a2j">case</label>
                                                    <input type="text" name="case" value="{{ d_field['case'] }}" id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                    </div>
                                                    </div>

                                                        <div class="col-md-12">
                                                            <div class="box3">
                                                            <div id="get_queryRuleCollection2"></div>
                                                            </div>
                                                        </div>

                                                    <div class="a5 md:a2u af">
                                                    <div class="a3u">
                                                    <label for class="al a25 aR a1j dark:a1k a2j">ruleParam*</label>
                                                    <textarea name="ruleParam" rows="5" id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">{{d_field['ruleParam']}}</textarea>
                                                    </div>
                                                    </div>

                                                    <div class="a5 af"><div class="a2g">
                                                        <div class='submitButton'>
{#                                                        <button class="el-button el-button--primary">提交</button>#}
                                                            <input type="submit" class="btn-custom black" value="保存&执行">
                                                        </div>
                                                    </div></div>
                                                    </div>
                                                    </form>

                                                {% elif error %}
                                                    <label for class="al a25 aR a1j dark:a1k a2j">Error:</label>
                                                    <pre>{{ error }}</pre>
                                                {% endif %}

                                            {% endif %}
                                            </div>


                            </div>

        <!-- 数据源 -->

                            {%  if tabName == '数据源' %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DW">
                            {%  else %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DW">
                            {%  endif  %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section__box">
                                        <a class="r-link ai-element-red ai-element_padding-all ai-element5" href="#DW_CT" role="tab" data-toggle="tab"><span class="ai-element__label">{{ global_d_['menu']['registerTbl'] }}</span></a>
{#                                        <a class="r-link ai-element-red ai-element_padding-all ai-element5" href="#DW_IR" role="tab" data-toggle="tab"><span class="ai-element__label">{{ global_d_['menu']['importCase'] }}</span></a>#}
                                        <a class="r-link ai-element-green ai-element_padding-all ai-element5" href="#RS_query" role="tab" data-toggle="tab"><span class="ai-element__label">查询规则集</span></a>
                                        <a class="r-link ai-element-red ai-element_padding-all ai-element5" href="#RS_new" role="tab" data-toggle="tab"><span class="ai-element__label">更新规则集</span></a>

                                        <div class="tab-content">

        <!-- 创建库表 13788/js/jquery.filer.min.js-->
                                            {%  if subName == '创建库表' %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DW_CT">
                                            {%  else %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DW_CT">
                                            {%  endif  %}
                                            <div class="row">
                                            <div class="col-md-12">
                                            <div class="section__box">
                                                <form action="{{ url_for('registerTbl')}}" method="post" enctype="multipart/form-data" id="mask21">
                                                    <div class="a6 a1K ac">
                                                        <div class="a5 md:a2u af">
                                                            <div class="a3u">
                                                                 <label for class="al a25 aR a1j dark:a1k a2j">上传文件</label>
                                                                <input type="file" name="file" id="demo-fileInput-34" multiple="multiple" >
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br><br>

                                                    <div class="a5 af">
                                                        <div class="a2g">
                                                            <a class="btn-custom black"  href="{{ url_for('download')}}">下载模版</a>
                                                            <input type="submit" class="btn-custom red" value="上传 (步骤1/2)">
                                                        </div>
                                                    </div>
                                                </form>

                                                {% if registerTbl2 == 1 %}
                                                    <form action="{{ url_for('registerTbl2')}}" method="post" id="mask211">
                                                        <div class="a6 a1K ac">
                                                            <div class="a5 md:a2u/2 af">
                                                                <div class="a3u">
                                                                    <label for class="al a25 aR a1j dark:a1k a2j">规则名（可创建）</label>
                                                                    <select name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                    <option value="none" selected>请选择...</option>
                                                                    {% for i in l_canRegisterRuleName[0:] %}
                                                                    <option value="{{i}}">{{i}}</option>
                                                                    {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br><br>
                                                        <div class="a5 af">
                                                            <div class="a2g">
                                                            <input type="submit" class="btn-custom red" value="提交 (步骤2/2)">
                                                            </div>
                                                        </div>
                                                    </form>
                                                {% endif %}

                                                <br>

                                                <!-- 调用 13788 - js - customs.js-->
                                                <div class="pre-box collapsed">
                                                    <div class="pre-collapse">
                                                        <i class="fa fa-code pull-left"></i> + 注释
                                                    </div>
                                                    <pre class="prettyprint lang-js"><h4>创建库表</h4>功能：将excel指定sheet导入数据库生成对应规则表，如健康干预 => a_jiankangganyu, <br>步骤1：先下载模版，按照模版要求编写用例，然后上传文件。<br>步骤2：选择规则名提交生成库表。(如无可选项，表示不符合建表要求。)<br>注意：库表可反复提交，将覆盖之前库表和数据，一般用于补充或更新用例，涉及到他人库表时需谨慎与再确认。
                                                    <img src="{{ url_for('static', filename='test.jpg') }}" alt="benetch">
                                                    </pre>
                                                </div>


                                            </div></div></div></div>


{#        <!-- 导入规则 -->#}
{##}
{#                                            {%  if subName == '导入规则' %}#}
{#                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DW_IR">#}
{#                                            {%  else %}#}
{#                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DW_IR">#}
{#                                            {%  endif  %}#}
{#                                            <div class="row">#}
{#                                            <div class="col-md-12">#}
{#                                            <div class="section__box">#}
{#                                                <form action="{{ url_for('importCase')}}" method="post" enctype="multipart/form-data" id="mask22">#}
{#                                                    <div class="a6 a1K ac">#}
{#                                                        <div class="a5 md:a2u/2 af">#}
{#                                                            <div class="a3u">#}
{#                                                                 <label for class="al a25 aR a1j dark:a1k a2j">上传文件</label>#}
{#                                                                <input type="file" name="file" id="demo-fileInput-3" multiple="multiple" >#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="a5 md:a2u/2 af">#}
{#                                                            <div class="a3u">#}
{#                                                                <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>#}
{#                                                                <select  name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">#}
{#                                                                <option value="none" selected>请选择...</option>#}
{#                                                                {% for i in global_d_['ruleName'][0:] %}#}
{#                                                                <option value="{{i}}">{{i}}</option>#}
{#                                                                {% endfor %}#}
{#                                                                </select>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <br><br>#}
{#                                                    <div class="a5 af">#}
{#                                                        <div class="a2g">#}
{#                                                        <input type="submit" class="btn-custom red" value="上传&提交">#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </form>#}
{##}
{#                                            </div></div></div></div>#}



        <!-- 查询规则集 -->

                                            {%  if subName == '查询规则集' %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="RS_query">
                                            {%  else %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="RS_query">
                                            {%  endif  %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="a5 md:a2u af">
                                                            <div class="a3u">
                                                                <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                                                                <select  id="queryRuleName" name="queryRuleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                <option value="none" selected>请选择...</option>
                                                                {% for i in global_d_['ruleName'][0:] %}
                                                                <option value="{{i}}">{{i}}</option>
                                                                {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="a6 a1K ac">
                                                        <div class="a5 md:a2u af">
                                                        <div class="a3u">
                                                        <label for class="al a25 aR a1j dark:a1k a2j">规则集</label>
                                                        <select id="queryRuleCollection" name="queryRuleCollection" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                        <option value="none" selected>请选择...</option>
                                                        </select>
                                                        </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="get_queryRuleCollection" style="line-height: 25px;"></div>
                                                <br>

                                                <!-- 调用 13788 - js - customs.js-->
                                                <div class="pre-box collapsed">
                                                    <div class="pre-collapse">
                                                        <i class="fa fa-code pull-left"></i> + 注释
                                                    </div>
                                                    <pre class="prettyprint lang-js">注：规则集所属a_ceshiguize库。
                                                    <img src="{{ url_for('static', filename='benetch.gif') }}" alt="benetch">
                                                    </pre>
                                                </div>

                                            </div>

        <!-- 更新规则集-->

                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="RS_new">
                                                <form action="{{ url_for('updateRuleCollection')}}" method="post" id="mask32">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="a5 md:a2u af"><div class="a3u">
                                                                <label for class="al a25 aR a1j dark:a1k a2j">规则名</label>
                                                                <select name="ruleName" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                 <option value="none" selected>请选择...</option>
                                                                {% for i in global_d_['ruleName'][0:] %}
                                                                <option value="{{i}}">{{i}}</option>
                                                                {% endfor %}
                                                                </select>
                                                            </div></div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="a5 md:a2u af">
                                                            <div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">规则集*</label>
                                                            <input type="text"  name="ruleCollection" maxlength="10" placeholder="请输入..." id="cacu_value" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                            </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="a5 md:a2u af">
                                                            <div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">步骤*</label>
                                                            <textarea name="sql" rows="5" id="cacu_value" placeholder="请输入..."  class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F"></textarea>
                                                            </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="a5 af"><div class="a2g">
                                                                <div class='submitButton'>
                                                                    <input type="submit" class="btn-custom red" value="提交">
                                                                </div>
                                                            </div></div>
                                                        </div>
                                                        <!--// .col //-->
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                            </div></div></div></div>
                            <!-- 数据源 end -->



        <!--  调式   -->

{#                            {%  if tabName == '调式' %}#}
{#							    <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DB">#}
{#                            {%  else %}#}
{#							    <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DB">#}
{#                            {%  endif  %}#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <div class="section__box">#}
{#                                        <a class="r-link ai-element-black ai-element_padding-all ai-element4" href="#DB_testRule" role="tab" data-toggle="tab"><span class="ai-element__label">测试规则</span></a>#}
{#                                        <a class="r-link ai-element-green ai-element_padding-all ai-element3" href="#DB_querySql" role="tab" data-toggle="tab"><span class="ai-element__label">查询sql</span></a>#}
{#                                        <a class="r-link ai-element ai-element_padding-all ai-element3" href="{{ url_for('index') }}" target = "_blank"><span class="ai-element__label">index</span></a>#}
{##}
{#                                        <div class="tab-content">#}
{#        <!-- 测试规则 -->#}
{##}
{##}
{##}
{#                                        </div>#}
{#                            </div></div></div></div>#}
{#                            <!-- 调式 end  -->#}

        <!-- 辅助工具 -->

                            {%  if tabName == '辅助工具' %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="AT">
                            {%  else %}
							    <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="AT">
                            {%  endif  %}
								<div class="row">
									<div class="col-md-12">
                                        <div class="section__box">
                                            <a class="r-link ai-element-green ai-element_padding-all ai-element1" href="#AT_searchRecord" role="tab" data-toggle="tab"><span class="ai-element__label">{{ global_d_['menu']['searchRecord'] }}</span></a>
                                            <a class="r-link ai-element-green ai-element_padding-all ai-element1" href="#AT_queryDesc2" role="tab" data-toggle="tab"><span class="ai-element__label">{{ global_d_['menu']['queryDesc2'] }}</span></a>
                                            <a class="r-link ai-element-green ai-element_padding-all ai-element1" href="#DB_querySql" role="tab" data-toggle="tab"><span class="ai-element__label">查询sql</span></a>

                                            <div class="tab-content">
        <!-- 查询记录 -->
                                                {%  if subName == '查询记录' %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="AT_searchRecord">
                                                {%  else %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="AT_searchRecord">
                                                {%  endif  %}
                                                <div class="row">
                                                <div class="col-md-12">
                                                <div class="section__box">

                                                <form action="{{ url_for('searchRecord')}}" method="post" id="mask51">
                                                    <div class="a6 a1K ac">
                                                        <div class="a5 md:a2u/2 af"><div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">数据库</label>
                                                            <select name="db" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                <option value="" selected>请选择...</option>
                                                                <option value="CHC" >CHC</option>
                                                                <option value="CHCCONFIG" >CHCCONFIG</option>
                                                                <option value="CHC_JINGAN" >CHC_JINGAN</option>
                                                                <option value="CHCCONFIG_JINGAN" >CHCCONFIG_JINGAN</option>
                                                                <option value="PHUSERS" >PHUSERS</option>
                                                                <option value="ZYCONFIG" >ZYCONFIG</option>
                                                            </select>
                                                        </div></div>

                                                        <div class="a5 md:a2u/2 af"><div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">数据类型</label>
                                                            <select name="datatype" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                <option value="varchar" selected>varchar</option>
                                                                <option value="nvarchar" >nvarchar</option>
                                                                <option value="nchar" >nchar</option>
                                                                <option value="int" >int</option>
                                                                <option value="datetime" >datetime</option>
                                                                <option value="money" >money</option>
                                                                <option value="timestamp" >timestamp</option>
                                                                <option value="float" >float</option>
                                                                <option value="double" >double</option>
                                                            </select>
                                                        </div></div>

                                                        <div class="a5 md:a2u/2 af"><div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">模糊匹配*</label>
                                                            <input type="text" name="text" maxlength="50" id="cacu_value" placeholder="请输入关键字..." class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                        </div></div>

                                                        <div class="a5 md:a2u/2 af"><div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">过滤表(多个表用英文逗号分隔)</label>
                                                            <input type="text" name="filterTbl" maxlength="100" id="cacu_value" placeholder="请输入..." class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                        </div></div>

                                                        <div class="a5 af">
                                                            <div class="a2g">
                                                            <input type="submit" class="btn-custom green" value="查询">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <br>
                                                <div class="row">
                                                <div class="col-md-12">
                                                <div class="box3">
                                                {{ result | safe }}
                                                </div>
                                                </div>
                                                </div>
                                                </div></div></div></div>

        <!-- 查询表结构 -->
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="AT_queryDesc2">
                                                    <div class="row">
                                                    <div class="col-md-12">
                                                    <div class="section__box" id="test">

                                                        <div class="a6 a1K ac">
                                                        <div class="a5 md:a2u/2 af"><div class="a3u">
                                                        <label for class="al a25 aR a1j dark:a1k a2j">数据库名</label>
                                                        <select id="queryDesc2" name="datatype" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                        <option value="" selected>请选择...</option>
                                                        <option value="CHC" >CHC</option>
                                                        <option value="CHCCONFIG" >CHCCONFIG</option>
                                                        <option value="CHC_JINGAN" >CHC_JINGAN</option>
                                                        <option value="CHCCONFIG_JINGAN" >CHCCONFIG_JINGAN</option>
                                                        <option value="PHUSERS" >PHUSERS</option>
                                                        <option value="ZYCONFIG" >ZYCONFIG</option>
                                                        </select>
                                                        </div></div>
                                                        </div>

                                                        <div style="line-height: 16px;" id="get_queryDesc2"></div>
                                                        <div style="line-height: 16px;" id="queryDesc2_1"></div>

                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>



        <!-- 查询sql -->
                                                {%  if subName == '查询sql' %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="DB_querySql">
                                                {%  else %}
                                                <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="DB_querySql">
                                                {%  endif  %}
                                                <div class="row">
                                                <div class="col-md-12">
                                                <div class="section__box">

                                                    <div class="col-md-12">
                                                        <label for class="al a25 aR a1j dark:a1k a2j">查询SQL</label>
                                                        <div class="a5 md:a2u af">
                                                            <div class="a3u">
                                                                <textarea name="querySql" id="querySql" rows="2" placeholder="如：select ... from ... where ..." class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="a5 af"><div class="a2g">
                                                    <input type="submit" id="queryRecord" class="btn-custom green" value="查询">
                                                    </div></div>

                                                </div></div></div></div>

                                            </div>
                            </div></div></div></div>
                            <!-- 辅助工具 end  -->

        <!-- 系统配置 -->

                            {%  if tabName == '系统配置' %}
                                <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="SC">
                            {%  else %}
                                <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="SC">
                            {%  endif  %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section__box">
                                        {% if global_d_['icon'] == 'pig.ico' %}
{#                                            <a class="r-link ai-elementX ai-element_padding-all ai-element5" href="{{ url_for('pin') }}" target = "_blank"><span class="ai-element__label">{{ global_d_['menu']['updateFile'] }}</span></a>#}
                                            <a class="r-link ai-element-purple ai-element_padding-all ai-element5" href="{{ url_for('updateSystem') }}" target = "_blank"><span class="ai-element__label">{{ global_d_['menu']['updateFile'] }}</span></a>
                                        {% endif %}
                                        <a class="r-link ai-element-green ai-element_padding-all ai-element5" href="#SC_queryLog" role="tab" data-toggle="tab"><span class="ai-element__label">{{ global_d_['menu']['queryLog'] }}</span></a>

                                        <div class="tab-content">

        <!-- 查询日志 -->

                                            {%  if subName == '查询日志' %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade in active" id="SC_queryLog">
                                            {%  else %}
                                            <div role="tabpanel" class="tab-pane pt20 pb20 fade" id="SC_queryLog">
                                            {%  endif  %}
                                            <div class="row">
                                            <div class="col-md-12">
                                            <div class="section__box">
                                                <form action="{{ url_for('searchLog')}}" method="post" id="mask62">
                                                    <div class="a6 a1K ac">
                                                        <div class="a5 md:a2u/2 af">
                                                            <div class="a3u">
                                                            <label for class="al a25 aR a1j dark:a1k a2j">最近记录</label>
                                                            <select name="count" method="GET" action="/" class="a5 a25 a1i aT av[14px] a3X aw a2C a4v dark:a4w aK dark:a1 a2E a4x focus-visible:aN focus:a2F">
                                                                {%  if global_d_['count'] %}
                                                                    <option value="{{ global_d_['count'] }}" selected>{{ global_d_['count'] }}</option>
                                                                    <option value="5" >5</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="50" >50</option>
                                                                {% else %}
                                                                    <option value="5" selected>5</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="50" >50</option>
                                                                {% endif  %}
                                                            </select>
                                                            </div>
                                                        </div>

                                                        <div class="a5 af">
                                                            <div class="a2g">
                                                            <input type="submit" class="btn-custom green" value="查询">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <br><br>
                                                <div class="row">
                                                <div class="col-md-12">
                                                <div class="box3">
                                                {{ resultSearchLog | safe }}
                                                </div>
                                                </div>
                                                </div>
                                            </div></div></div></div>
                                        </div>
                            </div></div></div></div>
                            <!-- 系统配置 end  -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>

<!-- 遮罩层 -->
<div id="mask" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div class="containerFlex">
    <svg width="100" height="100" viewBox="0 0 40 60">
    <polygon class="triangle" fill="none" stroke="#fff" stroke-width="1" points="16,1 32,32 1,32"/>
    <text class="loading" x="0" y="45" fill="#fff" >processing...</text>
    </svg>
    </div>
</div>

<!-- loading... -->
<div id="loading" style="display:none;"></div>


<!--13788 upload file-->
<script src="{{ url_for('static', filename='13788/js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='13788/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='13788/js/jquery.filer.min.js') }}"></script>
<script src="{{ url_for('static', filename='13788/js/prettify.js') }}"></script>
{#<script src="{{ url_for('static', filename='13788/js/scripts.js') }}"></script>#}
<script src="{{ url_for('static', filename='13788/js/custom2.js') }}"></script>


{#<!-- Javascript Plugins -->#}
{#<script src="{{ url_for('static', filename='1/js/jquery-3.4.0.min.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='1/js/plugins.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='1/js/main.js') }}"></script>#}

<!-- 操作成功或失败提示 -->
<script>
var message = '{{ message }}';
if (message == 1) {
    hsycms.success('操作成功',()=>{  console.log('操作成功关闭后');  },2000)
} else if (message == 0) {
    hsycms.fail('操作失败',()=>{  console.log('操作失败关闭后');  },2000)
};
 </script>

</body>
</html>