<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CHC社区健康自动化平台</title>
<link rel="shortcut icon" href="{{ url_for('static', filename=global_d_['icon']) }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='20231212/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='20231212/boxicons.min.css') }}">


</head>
<body>
<!-- partial:index.partial.html -->
{#<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>#}
<div class="l-form">
            <div class="shape1"></div>
            <div class="shape2"></div>

            <div class="form">
                <img src="{{ url_for('static', filename='20231212/authentication.svg') }}" alt="" class="form__img">


                             <form action="{{ url_for('login2')}}" method="post" class="form__content">

                    <h1 class="form__title">CHC 社区健康</h1>

                    <div class="form__div form__div-one">
                        <div class="form__icon">
                            <i class='bx bx-user-circle'></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Username(test)</label>
                            <input type="text" class="form__input" name="username" value="test">
                        </div>
                    </div>

                    <div class="form__div">
                        <div class="form__icon">
                            <i class='bx bx-lock' ></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Password(123456)</label>
                            <input type="password" class="form__input" name="password" value="123456">
                        </div>
                    </div>
                    <a href="#" class="form__forgot">Forgot Password?</a>

                    <input type="submit" class="form__button" value="Login">

                    <div class="form__social">
                        <span class="form__social-text">Our login with</span>

                        <a href="#" class="form__social-icon"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-google' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-instagram' ></i></a>
                    </div>
                </form>
            </div>

        </div>
<!-- partial -->

<script src="{{ url_for('static', filename='20231212/script.js') }}"></script>

</body>
</html>
