<!DOCTYPE html>
<html>
<head>
    <title>Progress Bar</title>
    <meta charset="utf-8">
    <style>
        #progress {
            width: 100%;
            border: 1px solid #000;
        }
        #progress-bar {
            width: 0;
            height: 30px;
            background-color: #blue;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>
<body>
    <div id="progress">
        <div id="progress-bar"></div>
    </div>

    <script>
        if (typeof(EventSource) !== "undefined") {
            var source = new EventSource("/progress");
            source.onmessage = function(event) {
                var progressBar = document.getElementById("progress-bar");
                progressBar.style.width = event.data + "%";
                progressBar.innerHTML = event.data + "%";
            };
        } else {
            document.getElementById("progress-bar").innerHTML = "Sorry, your browser does not support server-sent events...";
        }
    </script>
</body>
</html>