### 1.1 用户登录
模块：
    登录模块 - 首页模块
前置条件：
    - 正确用户名
    - 正确密码
操作步骤：
    1. 打开登录页面
    2. 输入用户名test和密码123456
    3. 点击登录按钮
预期结果：
    跳转至用户主页，显示欢迎信息

### 1.2 体检报告打印时勾选多个体检人员，其中存在未生成图片的人员。
模块：
    体检报告
前置条件：
    - 服务器上存在一个或多个没有该体检编号的检验报告图片
操作步骤：
    1. 勾选多个体检人员
    2. 体检报告打印界面，点击"报告打印"
    3. 可选按钮，打印所有报告、只打印检验图片生成报告、取消。
预期结果：
    弹出提示"以上体检人员检验报告图片未生成"，用红色字体显示图片未生成的体检人员姓名。
    打印所有报告：对勾选人员进行批量打报告印。
    只打印检验图片生成报告：对有检验图片的体检人员进行报告打印，未生成检验图片的体检人员不打印。
    取消：取消打印操作。


### 1.3 体检报告打印时勾选多个体检人员，所有人员的检验报告图片都已生成。
模块：
    体检报告
前置条件：
    - 服务器上所有人员的检验报告图片都已生成。
操作步骤：
    1. 勾选多个体检人员，
    2. 体检报告打印界面，点击"报告打印"
预期结果：
    不弹出提示框。

